# Dependencies
node_modules/

# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# Native
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# Logs
npm-debug.*
yarn-debug.*
yarn-error.*
*.log

# macOS / Windows
.DS_Store
Thumbs.db
*.pem

# Env files
.env
.env.local
.env.*.local

# TypeScript
*.tsbuildinfo

# Generated native folders
/ios
/android
